<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Hopeno - Tìm sân thể thao nhanh chóng</title>
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <meta name="title" content="Hopeno - Tìm sân thể thao nhanh chóng">
      <meta name="author" content="Hopeno">
      <link rel="apple-touch-icon" sizes="120x120" href="./assets/img/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicon/favicon-16x16.png">
      <link rel="manifest" href="./assets/img/favicon/site.webmanifest">
      <link rel="mask-icon" href="./assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="theme-color" content="#ffffff">
      <link type="text/css" href="./vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
      <link type="text/css" href="./vendor/leaflet/dist/leaflet.css" rel="stylesheet">
      <link rel="stylesheet" href="./vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
      <link rel="stylesheet" href="./vendor/jqvmap/dist/jqvmap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.16/jquery.timepicker.min.css">
      <link type="text/css" href="./css/spaces.css" rel="stylesheet">
   </head>
   <body>
      <main>
         <div class="preloader bg-dark flex-column justify-content-center align-items-center">
            <div class="position-relative"><img src="./assets/img/brand/light-without-letter.svg" alt="Logo loader"> <img src="../assets/img/brand/letter.svg" class="rotate-letter" alt="Letter loader"></div>
         </div>
         <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark py-5 py-lg-0" data-background="../assets/img/form-image.jpg">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-12">
                     <div class="text-center text-md-center mb-5 mt-md-0 text-white">
                        <h1 class="mb-0 h3">Đăng nhập vào Hopeno</h1>
                     </div>
                  </div>
                  <div class="col-12 d-flex align-items-center justify-content-center">
                     <div class="signin-inner mt-3 mt-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <form action="#">
                           <div class="form-group">
                              <label for="email">Email của bạn</label>
                              <div class="input-group mb-4">
                                 <div class="input-group-prepend"><span class="input-group-text"><span class="fas fa-envelope"></span></span></div>
                                 <input class="form-control" id="email" placeholder="example@company.com" type="text" aria-label="email address">
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="form-group">
                                 <label for="password">Mật khẩu</label>
                                 <div class="input-group mb-4">
                                    <div class="input-group-prepend"><span class="input-group-text"><span class="fas fa-unlock-alt"></span></span></div>
                                    <input class="form-control" id="password" placeholder="Mật khẩu" type="password" aria-label="Password" required>
                                 </div>
                              </div>
                              <div class="d-flex justify-content-between align-items-center mb-4">
                                 <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="remember"> <label class="form-check-label" for="remember">Ghi nhớ mật khẩu</label></div>
                                 <div><a href="./forgot-password-email.html" class="small text-right">Quên mật khẩu?</a></div>
                              </div>
                           </div>
                           <button type="submit" class="btn btn-block btn-primary">Đăng nhập</button>
                        </form>
                        <div class="d-block d-sm-flex justify-content-center align-items-center mt-4"><span class="font-weight-normal">Bạn chưa có tài khoản? <a href="./sign-up.html" class="font-weight-bold">Tạo tài khoản</a></span></div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>
      <script src="./vendor/jquery/dist/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.16/jquery.timepicker.min.js"></script>
     <script src="./vendor/popper.js/dist/umd/popper.min.js"></script>
     <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
     <script src="./vendor/headroom.js/dist/headroom.min.js"></script>
     <script src="./vendor/onscreen/dist/on-screen.umd.min.js"></script>
     <script src="./vendor/nouislider/distribute/nouislider.min.js"></script>
     <script src="./vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
     <script src="./vendor/waypoints/lib/jquery.waypoints.min.js"></script>
     <script src="./vendor/owl.carousel/dist/owl.carousel.min.js"></script>
     <script src="./vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
     <script src="./vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
     <script src="./vendor/sticky-sidebar/dist/sticky-sidebar.min.js"></script>
     <script src="./vendor/leaflet/dist/leaflet.js"></script>
     <script src="./vendor/chartist/dist/chartist.min.js"></script>
     <script src="./vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
     <script src="./vendor/jqvmap/dist/jquery.vmap.min.js"></script>
     <script src="./vendor/jqvmap/dist/maps/jquery.vmap.usa.js"></script>
     <script src="./assets/js/jquery.slideform.js"></script>
     <script src="./assets/js/spaces.js"></script>
    </body>
</html>